In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Enter the specific and send a GET request to check if website is working

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
table = soup.find_all('table')[1]

In [4]:
column_title = table.find_all('th')

In [5]:
column_table_title = [title.text.strip() for title in column_title]

In [6]:
df = pd.DataFrame(columns = column_table_title)

In [7]:
df = df.rename(columns={"Revenue growth":"Revenue growth (in %)"})

In [8]:
column_data = table.find_all('tr')

In [9]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

In [10]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth (in %),Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Airspace and defense,"38,469",8.7%,"103,100","Reston, Virginia"
96,97,CHS,Agriculture cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota"
97,98,USAA,Financials,"37,470",3.2%,"37,335","San Antonio, Texas"
98,99,Northwestern Mutual,Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin"
99,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"

In [11]:
for i in range(len(df)):
    df['Revenue (USD millions)'][i] = df['Revenue (USD millions)'][i].replace(",","")
    df['Revenue (USD millions)'][i] = float(df['Revenue (USD millions)'][i])

In [13]:
for i in range(len(df)):
    df['Revenue growth (in %)'][i] = df['Revenue growth (in %)'][i].replace("%","")
    df['Revenue growth (in %)'][i] = float(df['Revenue growth (in %)'][i])

In [14]:
for i in range(len(df)):
    df['Employees'][i] = df['Employees'][i].replace(",","")
    df['Employees'][i] = float(df['Employees'][i])

In [15]:
df.to_csv('output/top_companies_by_revenue_US.csv', index=False)